@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    --line-color: #e5e7eb;
    overflow-x: hidden;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

body {
    overflow: hidden;
}

.borderBlack {
    @apply border border-black/10;
}

.violetTextLink {
    @apply text-violet-500 hover:text-violet-800 hover:underline transition dark:text-violet-400 dark:hover:text-violet-500;
}

.violetText {
    @apply font-normal text-violet-500 dark:text-violet-400;
}
